<div class="bottombar">
  <div class="cart-box"></div>

  <button id="openCart">
  <span class="cart-text">SƏBƏT 🛒</span>
  <span class="cart-total">Ümumi: <span id="totalPrice">0.00</span> ₼</span>
</button>
</div>

<!-- CART PANEL -->
<aside class="cart-panel" id="cartPanel">

  <div class="cart-header">
    <div class="cart-title">
      <span class="cart-icon">🛒</span>
      <span class="cart-text">SƏBƏT</span>
    </div>
    <button class="close-cart">✕</button>
  </div>

  <!-- ORTA HİSSƏ: yalnız content -->
  <div class="cart-content" id="cartItems"></div>

  <!-- AŞAĞI HİSSƏ: HƏMİŞƏ SABİT -->
  <div class="cart-footer">
    <div class="summary-row">
    </div>
    
    <div class="summary-divider"></div>

    <div class="summary-row total">
      <span class="total-label">Cəmi</span>

      <span class="summary-value"><span id="cartTotal">0.00</span> ₼</span>
    </div>

    <button class="cart-checkout">Sifariş üçün kassaya yaxınlaşın</button>
  </div>

</aside>


