<div class="categories-wrap">
  <div class="categories">
    <button class="cat-btn active" data-target="coffee-section">Coffee</button>
    <button class="cat-btn" data-target="tea-section">Çaylar</button>
    <button class="cat-btn" data-target="addons-section">Əlavələr</button>
    <button class="cat-btn" data-target="cold-drinks-section">Soyuq içkilər</button>
    <button class="cat-btn" data-target="ice-cream-section">Dondurmalar</button>
    <button class="cat-btn" data-target="juice-section">Meyvə Şirəsi</button>
    <button class="cat-btn" data-target="lemonades-section">Lemonades</button>
    <button class="cat-btn" data-target="special-milkshakes-section">MilkShakes</button>
    <button class="cat-btn" data-target="ice-tea-bar-section">IceTeaBar</button>
    <button class="cat-btn" data-target="pizzalar-section">Pizzalar</button>
    <button class="cat-btn" data-target="pideler-section">Pideler</button>
    <button class="cat-btn" data-target="salatlar-section">Salatlar</button>
    <button class="cat-btn" data-target="sendvicler-section">Sendviçlər</button>
    <button class="cat-btn" data-target="desertler-section">Desertlər</button>
    <button class="cat-btn" data-target="sokoladlar-section">Şokoladlar</button>
  </div>
</div>
